# Исключаем конфиденциальные данные
.env

# Исключаем папку с сохранёнными изображениями
img/

# Исключаем кэш Python
__pycache__/
*.pyc
*.pyo

# Исключаем виртуальное окружение (если есть)
venv/
.env/

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем логи
*.log
*.sqlite3

# Исключаем настройки IntelliJ IDEA/PyCharm
.idea/
# Игнорируем временные резервные копии
*.py~